body { 
background-color: #faf2e4; 
margin 0 10%; font-family: 'Playfair Display', serif; font-weight: normal; 
text-transform: uppercase; 
border-bottom: 1px solid #57b1dc; 
margin-top: 30px;
}
h2 {
color: #d1633c;
font-size 1em;
}
footer { 	   
border-top: 1px solid #57b1dc;  
text-align: center;  
padding-top: 1em; 
} 
footer img {  
width: 40px;  
height: 40px; 
margin-left: .5em;
margin-right: .5em;
} 
a:link {color:#F08080;}
a:focus, a:hover {color:#A0522D; background-color:#F0F8FF;}
a:active {color:#f0f;}
